.container {
    display: flex;
    flex-direction: column;

    margin: 78px auto;
    
    background: #fff;
    
    height: 100vh;
    width: 90%;

    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.08);
}

/* HEADER */
.wrapperImage {
    height: 300px;
    width: 100%;
    margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* CONTENT */
.content {
  padding: 40px 20px;
  width: 100%;
  margin: 0 auto;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #222;
  margin-bottom: 12px;
}

/* SELECT */
.selectWrapper {
    position: relative;
    margin-bottom: 16px;
}

.select {
    padding: 8px 16px;
    width: fit-content;

    background-color: #e9d9b7; /* bege semelhante */
    color: #333;

    font-size: 16px;
    font-weight: 500;

    border: none;
    border-radius: 8px;

    cursor: pointer;
    width: 100%;
}

.select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 205, 130, 0.6);
}

/* LOCATIONS */
.locations {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.locationItem {
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px 12px;
  cursor: pointer;
  transition: 0.2s ease;
}
/* 
.locationItem:hover {
  background: #fff9ee;
} */

.icon {
  color: #000000;
  margin-top: 2px;
  font-size: 20px;
}

.locationName {
  font-weight: 600;
  color: #222;
}

.locationCity {
  font-size: 12px;
  color: #777;
  margin-top: 2px;
}

.contentReserve {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 20px;
    width: 100%;
	margin: 0 auto;
}

.buttonBack {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 2px;
    font-size: 16px;
    cursor: pointer;
}

.buttonBack > p {
    font-size: 14px;
}

.titleAndCity > .title {
    font-size: 20px;
    margin-bottom: unset;
} 

.titleAndCity > .city {
  color: #777;
}

.wrapperOption {
    display: flex;
    flex-direction: column;
}


.buttonNext {
    padding: 12px 8px;
    /* background-color: var(--redColor); */
    background-color: rgb(156, 29, 29);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.green_bg {
  background-color: green;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.background {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.664);
  width: 100vw;
  height: 100vh;
  inset: 0;
  z-index: 3;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.background > .timer {
  position: relative;
  bottom: 10px;
  color: white;
  font-weight: 600;
  font-size: 32px;
}

.background > .info_modal {
  background-color: white;
  width: 70%;
  padding: 16px;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: center;
}

.buttonWhats {
  border-radius: 8px;
  background-color: green;
  border: 2px solid rgb(228, 228, 228);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);
  padding: 8px 16px;

  cursor: pointer;
  
  color: white;
  font-weight: 600;
}

.contentInputs {
    display: flex;
    flex-direction: column;
}


@media (min-width: 1020px) {
	.container {
		flex-direction: row;

		margin: 102px auto;
		
		height: calc(100vh - 102px);
		width: 90%;
		max-width: 1104px;
	}

	/* HEADER */
	.wrapperImage {
		height: 100%;
		width: 50%;
		margin: 0 0;
	}

	.image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	/* CONTENT */
	.content {
		width: 50%;
	}

	.contentReserve {
		width: 50%;
		padding: 10px 20px;
	}
	
}