
.container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    height: 64px;
    font-size: 16px;
}

.optional {
    font-size: 14px;
    color: #8a8a8a;
}

.text {
    width: 100%;
}
    
.input {
    width: 100%;
    border: none;
    outline: none;
}

.icon {
    font-size: 24px;
    margin: 0 12px;
}