.container {
    width: 100vw;
    margin-top: 78px;
    overflow: hidden;
}

.wrapper {
    width: 80%;
    margin: 96px auto 156px;
    display: flex;
    flex-direction: column;
}

.wrapperText {
    width: 90%;
    max-width: 500px;
}

.textHigh {
    font-size: 48px;
    font-weight: 500;
}

.text {
    font-size: 18px;
    margin: 20px 0;
}

.division {
    width: 100%;
    background-color: #b9b9b9;
    height: 1px;
}

.select {
    margin: 48px 0 32px;
    padding: 8px 16px;
    width: fit-content;

    background-color: #e9d9b7; /* bege semelhante */
    color: #333;

    font-size: 16px;
    font-weight: 500;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}

.select:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(255, 205, 130, 0.6);
}

.wrapperImg {
    width: 100%;
    height: 400px;
    
    border-radius: 8px;
    
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.416);

    overflow: hidden;
}

    
.img {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;
}

@media (min-width: 1020px) {
    .wrapper {
        width: 90%;
        max-width: 1104px;
        /* margin: 88px auto 156px; */
        flex-direction: row;
        align-items: center;
        height: 440px;
        gap: 16px;
    }
    
    .wrapperInfoText {
        width: 50%;
    }

    .wrapperText {
        width: 80%;
    }
    
    .wrapperImg {
        height: 440px;
        width: 50%;
        position: relative;
        border-radius: unset;
        box-shadow: none;
    }

    .absoluteImage {
        position: absolute;
        border-radius: 8px;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.322);
    }

    .absoluteImage:nth-child(1) {
        height: 90%;
        width: 60%;

        left: 14%;
    }

    .absoluteImage:nth-child(2) {
        width: 30%;
        height: 45%;

        right: 24px;
        top: 40px;    
    }

    .absoluteImage:nth-child(3) {
        width: 35%;
        height: 40%;
        
        left: 0;
        bottom: 10px;
    }
    
    .select {
        margin: 48px 0 0;
    }
}