.container { 
    display: flex;
    flex-direction: column;
    
    width: 100%;

    gap: 50px;

    margin: 0px auto 80px;
}

.text {
    width: 80%;
    
    margin: auto;

    color: rgb(146, 58, 17);

    font-size: 32px;
    font-weight: 400;
}

.img {
    width: 90%;

    display: block;
    margin: auto;

    object-fit: cover;
    object-position: center;

    border: 1px solid red;
}