.workWithUs > .wrapperImage {
    width: 100%;
    height: 160px;
    overflow: hidden;
}

.workWithUs > .wrapperImage {
    background-image: linear-gradient(to right, rgb(61, 14, 14), transparent);
}

.workWithUs > .wrapperImage > img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
    object-position: center;
}

.wrapperText > h2 {
    font-size: 32px;
    font-weight: 500;
    margin: 8px 0;   
}

.workWithUs > .wrapperText > button {
    margin: 16px 0;
 
    background-color: rgb(230, 205, 132);
    border: none;
    border-radius: 6px;
     
    padding: 8px 16px;
    
    font-size: 1rem;
    cursor: pointer;

    transition: background-color 0.3s ease;
}

.workWithUs > .wrapperText > button:hover {
    background-color: rgb(212, 184, 100);
}

@media (min-width: 1020px) {
    .responsive {
        display: flex;
        align-items: center;
        gap: 24px;
        
    }
        
    .responsive > .wrapperImage {
        height: 144px;
    }
}