.titleWines {
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 600;
}

.wines {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1px;   
}

.cardWine {
    padding: 16px;
    /* background-color: rgb(230, 205, 132); */
    display: flex;

    gap: 16px;

    min-height: 300px;
    width: 100%;

    /* border: 1px solid; */
}

.cardWine > .wrapperImage {
    height: 100%;
}

.cardWine > .wrapperImage > img {
    width: 112px;
    object-fit: cover;
    border-radius: 8px;

    height: 65%;

    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

.wrapperInfoWine {
    display: flex;
    flex-direction: column;

    gap: 8px;
}

.wrapperInfoWine > .title {
    font-size: 16px;
}

/* .description,
.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
} */

.wrapperInfoWine > .priceAndCode {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
}

.wrapperInfoWine > .priceAndCode > .price {
    font-weight: 600;
}

.wrapperInfoWine > .description {
    font-size: 14px                                                                                                ;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(102, 102, 102);
    min-width: 0;
    width: 100%;
    white-space: normal;

}

.wrapperTag {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;

    width: 100%;
    
    margin-top: 8px;
}

.wrapperTag > div {
    display: flex;
    align-items: center;
    
    padding: 4px 8px;
    font-size: 12px;
    
    gap: 8px;
    
    border-radius: 30px;
    
    background-color: rgb(235, 235, 235);
    
    max-width: 100%;
    /* white-space: nowrap; */
}

.wrapperTag > div > .icon {
    font-size: 18px;
    object-fit: cover;
    border-radius: 50%;
}

.wrapperTag > .grape > span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
    max-width: 160px;
    display: block;
}

.wrapperTag > div > .color {
    border-radius: 50%;
    width: 18px;
    height: 18px;
}

@media (min-width: 750px) {
    .wines {
        grid-template-columns: repeat(2, 1fr);       
    }
}

@media (min-width: 1020px) {
    .wines {
        display: grid;
        grid-template-columns: repeat(3, 1fr);       
    }
}