.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  
  background: #fff;
  color: #000;

  padding: 14px 18px;
  
  border-radius: 10px;
  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
  
  font-size: 0.95rem;
 
  z-index: 9999;
 
  opacity: 0;
 
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.buttonClose {
    background: none;
    border: none;
    margin-left: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}