.modal {
    position: fixed;

    inset: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;

    padding: 5%;

    z-index: 3;
}

.modal > * {
    position: absolute;
    z-index: 2;
}

.wrapperImage {
    position: relative;
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 70%;

    max-width: 1104px;

    margin: auto;

    overflow: hidden;
}

.slider {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */
    transform: translateX(-100vw);
}

.image {
    width: 100%;
    height: 100%;

    flex-shrink: 0;

    object-fit: cover;
    object-position: center;
}

.arrow {
    position: absolute;
    
    height: 90%;
    padding: 5%;
    
    font-size: 40px;

    background-color: transparent;
    color: rgba(255, 255, 255, 0.644);
    
    border: none;
    
    cursor: pointer;

    transition: .3s ease;
}

.arrow:hover {
    color: white;
}

.arrowPrev {
    left: 5%;
}

.arrowNext {
    right: 5%;
}

.close {
    position: absolute;
    top: 5%;
    right: 5%;

    color: rgba(255, 255, 255, 0.644);
    font-size: 24px;

    z-index: 4;
    cursor: pointer;

    transition: .3s ease;
}

.close:hover {
    color: rgb(255, 255, 255);
}

.background {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.541);
    z-index: 1;
}

@media (min-width: 750px) {
    .wrapperImage {
        height: 80%;
    }
}