.wrapperDiferencials {
    background-color: rgba(180, 151, 64);
    padding: 56px 0;
    display: flex;
    flex-direction: column;
    gap: 56px;
    color: white;
    text-align: center;
}

.wrapperDiferencials > .title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;
    margin: auto;
}

.wrapperDiferencials > .title > h2 {
    text-transform: uppercase;
    font-size: 26px;
}

.wrapperDiferencials > .wrapperImageAndInfo > .imageAndInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.wrapperDiferencials > .wrapperImageAndInfo > .imageAndInfo > div {
    width: 38%;
    max-width: 264px;

    aspect-ratio: 1 / 1;

    border-radius: 50%;
    margin: auto;
    background-color: white;

    display: flex;
    align-items: center;
    
    justify-content: center;
    border: 8px solid rgba(180, 151, 64, 0.555);
}

.wrapperDiferencials > .wrapperImageAndInfo > .imageAndInfo > div > .icon {
    width: 50%;
    height: 50%;
    color: rgba(180, 151, 64);
}

.wrapperDiferencials > .wrapperImageAndInfo > .imageAndInfo > p {
    font-size: 24px;
    font-weight: 600;
    max-width: 272px;
    margin: auto;

}


@media (min-width: 750px) {

    .wrapperDiferencials > .wrapperImageAndInfo {
        display: flex;
        margin: auto;
    }

    .wrapperDiferencials > .wrapperImageAndInfo > .imageAndInfo > div {
        width: 184px;
    }

    .wrapperDiferencials > .wrapperImageAndInfo > .imageAndInfo > p {
        width: 240px;
    }

}

@media (min-width: 1020px) {

    .wrapperDiferencials > .wrapperImageAndInfo {
        justify-content: space-evenly;
        width: 1000px;
        margin: auto;
    }


    .wrapperDiferencials > .wrapperImageAndInfo > .imageAndInfo > p {
        width: 256px;
    }

}