.packages {
    width: 80%;

    text-align: center;

    display: flex;
    flex-direction: column;

    gap: 32px;

    margin: 0 auto;
    padding: 32px 0;
}

.packages > .title {
    margin: auto;

    text-transform: uppercase;
    
    font-size: 20px;
}

.packages > .wrapperOptions {
    display: flex;
    flex-direction: column;
    
    gap: 24px;
    
    margin: auto;
    
    width: 90%;
}


.packages > .wrapperOptions > button {
    width: 80%;
    max-width: 264px;

    margin: auto;
    padding: 8px;
    
    border: none;
    
    background-color: rgba(180, 151, 64);
    color: white;
    
    font-size: 24px;
    
    text-align: center;
    text-transform: uppercase;
    
    cursor: pointer;
}

.wrapperFlavor {
    text-transform: uppercase;
    margin: auto;
    
    font-size: 18px;
    font-weight: 600;
    
    width: 100%;
}

.wrapperFlavorImages {
    margin: auto;
    
    width: 90%;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.wrapperFlavorImages > .image {
    margin: auto;
    
    width: 80%;
    max-width: 264px;
    
    aspect-ratio: 1 / 1;
}

.wrapperFlavorImages > .image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.packages > .description {
    text-align: center;
    font-size: 18px;
    color: #979797;
    white-space: pre-line;
}


@media (min-width: 750px) {

    .packages {
        width: 100%;
    }

    .packages > .wrapperOptions {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        gap: 0;
    }

    .packages > .wrapperOptions > button {
        width: 22%;
        white-space: nowrap;

        margin: 0;

        padding: 8px;
        max-width: 256px;
        font-size: 24px;
    }
    
    .wrapperFlavorImages {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: unset;
    }

    .wrapperFlavorImages > .image {
        width: 22%;   
        max-width: 256px;
    }
    
    .packages > .description {
        width: 576px;
        margin: auto;
    }

}

@media (min-width: 1020px) {
    .packages > .wrapperOptions {
        justify-content: center;
        gap: 16px;
    }

    .wrapperFlavorImages {
        justify-content: center;
        gap: 16px;
    }

    .wrapperFlavorImages > .image {
        margin: unset;
    }
}