.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    
    position: relative;
    
    cursor: pointer;
}

.container:hover {
    background-color: #fafafa;
}

.selected {
    border-top: 1px solid #777;
    border-bottom: 1px solid #777;
    background-color: #f0f0f0;
}

.wrapperIconDropdown {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 24px;
    margin: 0 12px;
}

.text {
    font-weight: 600;
}

.selectedOption {
    font-size: 14px;
}

.options {
    position: absolute;
    top: 64px;
    left: 0;
    
    width: 100%;
    height: 200px;

    overflow: scroll;

    background-color: white;
    border: 1px solid #777;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.option {
    padding: 8px;
}

.option:hover {
    background-color: #f0f0f0;
}

.arrow {
    font-size: 18px;
    margin-right: 12px;
}
