:root {
    --redColor: rgb(61, 14, 14);
    --goldColor: rgb(180, 151, 64);
}

.container {
    width: 100vw;
    /* height: calc(100vh - 78px); */
    border: 1px solid rgb(26, 255, 0);

    min-height: calc(100vh - 76px);
}

.card {
    position: relative;
    width: 100%;
    max-width: 720px;
    height: 276px;

    margin: 40px auto 40px;

    border-radius: 8px;

    overflow: hidden;

    cursor: pointer;

    opacity: 0;

    transform:  translateY(20px);

    transition: transform 0.8s ease, opacity 0.8s ease;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--redColor) 10%, transparent);
}

.cardImage {
    position: absolute;;
    width: 100%;
    height: 100%;

    object-fit: cover;
    /* object-position: center; */
    object-position: 0% 55%;
}

.texts {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */

    position: relative;
    padding: 40px;

    height: 100%;

    /* gap: 20px; */
}

.fstText {
    text-transform: uppercase;
    color: rgb(180, 151, 64);
    font-weight: 600;
    font-size: 12px;
}

.sndText {
    color: white;
    font-weight: 600;
    font-size: 56px;
    line-height: 1;
}

.trdText {
    color: white;
    font-weight: 600;
    width: 70%;
    font-size: 14px; /* 18 a 20 */
    margin-top: 16px;
}

.btnCard {
    font-weight: 600;
    font-size: 14px;

    color: white;

    background-color: rgb(180, 151, 64);

    border: none;
    border-radius: 4px;

    padding: 8px 16px;

    margin-top: auto;

    max-width: fit-content;

    text-transform: uppercase;

    cursor: pointer;
}


.visible {
    opacity: 1;
    transform: translateX(0) translateY(0);
}

.animateLeft {
    animation: slideInLeft 0.8s forwards;
}

.animateTop {
    animation: slideInTop 0.8s forwards;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-50%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInTop {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width: 750px) {
    .card {
        height: 300px;
    }

    .sndText {
        font-size: 64px;
    }

    .trdText {
        font-size: 16px;
        width: 65%;
        height: 70px;
    }

    .btnCard {
        padding: 8px 20px;
        font-size: 16px;
    }
}

@media (min-width: 1020px) {
    .card {
        width: 50%;
        height: 260px;
        margin: auto 0 24px;
    }

    .fstText {
        font-size: 12px;
    }

    .sndText {
        font-size: 48px;
        line-height: 1;
    }
    
    .trdText {
        font-size: 12px;
        margin: 16px 0 8px;
        width: 55%;
        height: 60px;
    }

    .btnCard {
        padding: 8px 16px;
        font-size: 14px;
    }
}