.wrapperImg {
    width: 100%;
    height: 272px;
    
    overflow: hidden;

    position: relative;
}

.img {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;

}

.backgroundImg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(61, 14, 14, 0.8);
}

.textImg {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: white;

    font-size: 40px;
    font-weight: 600;
    width: max-content;
}
