.container {
    width: 100vw;
    margin: 78px 0 156px;
}

.wrapperImg {
    width: 100%;
    height: 272px;
    
    overflow: hidden;

    position: relative;
}

.img {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;

}

.backgroundImg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(61, 14, 14, 0.8);
}

.textImg {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: white;

    font-size: 40px;
    font-weight: 600;
    width: max-content;
}

.wrapper {
    max-width: 1000px;
    /* border: 1px solid; */
    width: 80%;
    margin: 96px auto;
}

.wrapper > .wrapperForm > h2 {
    font-size: 24px;
    font-weight: 500;
}

.wrapper > .wrapperForm > p {
    font-size: 14px;
    width: 80%;
}

.wrapper > .wrapperBanner > h2 { 
    font-size: 32px;
    font-weight: 500;
    margin: 8px 0
}

@media (min-width: 1020px) {
    .wrapper {
        display: flex;
        width: 90%;
        margin: 78px auto 156px;
        justify-content: space-between;
        max-width: 1104px;
    }

    .wrapper > .wrapperForm {
        width: 55%;
    }
    
    .wrapper > .wrapperForm > p {
        font-size: 14px;
        width: 100%;
    }

    .wrapper > .wrapperBanner {
        width: 35%;
    }

    .wrapper > .wrapperBanner > h2 { 
        margin: 0 0 8px;
    }
}