.cotainerFoods {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* border: 1px solid; */
    /* margin: 32px 0; */
    padding-bottom: 32px;
}

.titleFoods {
    width: 100%;
    position: relative;
}

.titleFoods > p {
    align-items: center;
    margin: auto;
    width: fit-content;
    padding: 0 8px;
    background-color: white;

    color: rgb(156, 29, 29);

    text-transform: uppercase;

    font-size: 14px;
}

.titleFoods > p::before {
    content: "";
    display: block;
    
    width: 100%;
    height: 1px;

    background-color: rgb(212, 212, 212);
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-50%);

    z-index: -1;
}

.foods {
    width: 96%;
    overflow: hidden;
    margin: auto;
}

.foods > h2 {
    margin: 0 0 16px;
}

.wrapperCards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
}

.card {
    display: flex;
    gap: 12px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    min-width: 0;
    /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08); */
}

.wrapperImage img {
    width: 112px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
}

.wrapperInfoFoods {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 5px 0;
    min-width: 0;
}

.wrapperInfoFoods > .title {
    font-size: 16px;
}

.description,
.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.priceAndCode {
    display: flex;
    gap: 8px;
    align-items: center;
}

.priceAndCode > .price {
    font-weight: 600;
    font-size: 12px;
}

.priceAndCode > .code {
    font-size: 12px;
    color: rgb(102, 102, 102);
}

.description {
    font-size: 14px                                                                                                ;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    color: rgb(102, 102, 102);
    min-width: 0;
    width: 100%;
    white-space: normal;
}

.wrapperNameAndPriceAndCode > .nameAndPriceAndCode {
    display: flex;
    flex-wrap: wrap;
    gap: 0 8px;
}

.wrapperNameAndPriceAndCode > .nameAndPriceAndCode > .nameAndLabel {
    font-size: 12px;
    font-weight: 600;
}

.wrapperNameAndPriceAndCode > .nameAndPriceAndCode > .priceAndCode {
    font-size: 12px;
}


@media (min-width: 750px) {

    .wrapperCards {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (min-width: 1020px) {

    .wrapperCards {
        grid-template-columns: repeat(3, 1fr);
    }

}