.container {
    width: 100vw;
    margin: 78px 0 156px;
}

.wrapperImg {
    width: 100%;
    height: 272px;
    
    overflow: hidden;

    position: relative;
}

.img {
    object-fit: cover;
    object-position: center;

    width: 100%;
    height: 100%;

}

.backgroundImg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(61, 14, 14, 0.8);
}

.textImg {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 70%;

    text-align: center;

    transform: translate(-50%, -50%);

    color: white;

    font-size: 40px;
    font-weight: 600;
    z-index: 2;
}

.wrapperText {
    display: grid;

    gap: 32px;
    width: 80%;
    margin: 48px auto;
}

.description {
    margin-bottom: 32px;
}

.wrapperText > div > h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.wrapperText > div > p + p {
    margin-top: 1rem;
}

@media (min-width: 1020px) {
    .wrapperText {
        width: 90%;
        max-width: 1000px;;
    }
}