.container {
    background-color: white;

    width: 100vw;

    position: fixed;
    top: 0;
    left: 0;

    transition: 0.5s ease;
    z-index: 3;
}

.hide {
    transition: 0.2s ease;
    transform: translateY(-100%);
}

.show {
    transform: translateY(0);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;

    margin: auto;
    width: 90%;
    padding: 8px 0;

    max-width: 1200px;
}

.navBurguer {
    position: fixed;
    inset: 0;

    display: flex;
    flex-direction: column;
    align-items: end;

    gap: 1rem;

    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.24);
    z-index: 3;
}

.backgroudNavBurguer {
    display: flex;
    flex-direction: column;
    align-items: end;


    background-color: white;

    padding: 1rem;

    gap: 1rem;

    height: 100%;
    width: 50%;
    min-width: 360px;
}


.btnCloseBurguer {
    margin-bottom: 24px;
}

.btnBurguer {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;

    background-color: transparent;
    border: none;

    cursor: pointer;
}

.lightTheme .btnBurguer {
    color: white;
}

.lightTheme .btnCloseBurguer {
    color: black;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: end;

    gap: 2rem;

    width: 90%;
    max-width: 420px;

    text-align: right;
    margin: 0;
    
    
    font-size: 1.5rem;
}

   /* Quando for cliente específico */
/* .lightTheme .list > a {
    color: #ffffff;
} */

.lightTheme .list > a:hover {
    color: #f1f1f1;
}

a {
    width: 60%;
    
    color: black;

    text-decoration: none;
    
    transition: 0.3s;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.logo > img {
    height: 60px;
}


.burguer {
    z-index: 1;
}

@media (min-width: 750px) {

    .wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 8px 0;
        gap: 64px;
        margin: auto;
        width: 80%;
        max-width: 1000px;
        /* border: 1px solid; */
    }

    .list {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* justify-content: end; */

        gap: 2rem;

        position: relative;

        width: 80%;
        max-width: 1000px;
        text-align: unset;

        margin: auto;
        
        font-size: 1.5rem;

        /* border: 1px solid; */
    }
    
    .dropdown {
        display: flex;
        align-items: center;
        align-content: center;
    }

    .list > a {
        display: inline-block;
        width: max-content;
        color: var(--text-color, rgb(95, 95, 95));

        flex-shrink: 0;

        text-decoration: none;

        cursor: pointer;
        
        transition: 0.3s;

    }   



   /* Quando for cliente específico */
.light-theme .list > a {
    color: #ffffff;
}

.light-theme .list > a:hover {
    color: #f1f1f1;
}

    .color-white {
        color: white;
    }
    
    .list > a:hover {
        color: black;
    }

    .dropdown {
        position: relative;
    }

    .btnPlus {
        background-color: transparent;
        
        border: none;

        color: rgb(95, 95, 95);

        cursor: pointer;
    }

    .btnPlus:hover {
        color: black;
    }

    .btnPlus > * {
        font-size: 1.5rem;
    }

    .overflowList {
        position: absolute;
        top: 2.5rem;
        left: 50%;
        transform: translateX(-50%);

        border: 2px solid rgb(135, 135, 135);

        border-radius: 18px;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        width: max-content;
        background-color: white;
    }

    .overflowList > a {
        text-decoration: none;

        text-align: center;

        border-bottom: 2px solid rgb(135, 135, 135);

        width: 100%;

        padding: 10px 0;
        margin: 0 15px;
    }

    .overflowList > a:last-child {
        border-bottom: none;
    }
}




@media (min-width: 1020px) {

    .wrapper {
        padding: 8px 0;
        max-width: 1104px;
        width: 90%;
        margin: auto;
    }
    
    .list { 
        width: 90%;
    }
    
}