.container {
    width: 100%;
    height: calc(100vh - 78px);
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
}

.wrapperImage {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.bannerImage {
    width: 100%;
    height: 100%;


    object-fit: cover;
    object-position: center;
}

.hide {
    display: none;
}

.arrow {
    position: absolute;
    top: 50%;
    
    transform: translateY(-50%);
    
    font-size: 40px;
    color: white;
    
    border: none;
    
    background-color: transparent;
    cursor: pointer;
}

.arrowPrev {
    left: 5%;

    filter: drop-shadow(2px 2px 4px rgba(255, 0, 0, 1));
}

.arrowNext {
    right: 5%;
    
    filter: drop-shadow(-2px 2px 4px rgba(255, 0, 0, 1));
}

.indicators {
    position: absolute;
    display: flex;

    bottom: 1.5rem;
    left: 50%;

    z-index: 2;

    gap: 8px;

    list-style: none;

    transform: translateX(-50%);
}

.dot {
    border-radius: 6px;
    width: 20px;
    height: 12px;
    background-color: rgba(255, 255, 255, 0.537);
}

.active {
    background-color: rgb(255, 255, 255);
    transition: ease .3s;
}