.container {
    background-color: rgba(0, 0, 0, 0.521);
    position: fixed;
    inset: 0;
    z-index: 3;

    display: flex;
    align-items: flex-end;

    user-select: none;
}

.container.show {
  opacity: 1;
  pointer-events: auto;
}

.container.hide {
  opacity: 0;
  pointer-events: none;
}

.modalWrapper {
    position: relative;
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
}

.modalHandle {
    position: absolute;
    top: -16px;
    
    width: 100px;
    height: 6px;
    
    background-color: white;
    
    cursor: grab;

    border-radius: 10px;
    
    z-index: 3;
}

.modal {
    height: 100%;
    width: 100%;
    background-color: white;

    max-width: 1104px;

    display: flex;
    flex-direction: column;
    border-radius: 16px 16px 0 0;
    overflow: auto;
    position: relative;
}

.wrapperImage {
    height: 60%;
    width: 100%;
}

.wrapperImage > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.wrapperInfo {
    width: 100%;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    
    gap: 8px;
}

/* .wrapperInfo > div {
    width: 100%;

} */

.wrapperTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    width: 100%;
}

.wrapperTitle > .share {
    color: gray;
    font-size: 24px;
    cursor: pointer;
}

.price {
    font-weight: 600;
    color: rgb(44, 44, 44);
}

.description {
    color: rgb(102, 102, 102);
    font-size: 16px;
    margin: 8px 0;
    white-space: pre-line;
}

.code {
    color: rgb(102, 102, 102);

}

.wrapper {
    width: 100%;
    /* overflow: auto; */
}

.wrapper > .wrapperInfo {
    width: 100%;
}

.divName {
    padding: 16px;
    background-color: rgb(235, 235, 235);
    font-weight: 600;
}

.wrapperOptions {
    padding: 20px 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.nameAndPrice {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nameAndLabel {
    font-weight: 600;
}

.nameAndPrice > .price {
    font-weight: 500;
    font-size: 14px;
}

.wrapperCode {
    padding: 8px 20px;
}


.animateBottomIn {
    animation: slideInBottomIn 0.6s forwards;
}

.animateBottomOut {
    animation: slideInBottomOut 0.6s forwards;
}

@keyframes slideInBottomIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@keyframes slideInBottomOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(105%);
  }
}


@media (min-width: 750px) {
    .modalWrapper {
        height: 55%;
    }
    
    .modal {
        flex-direction: row;
        overflow: hidden;
    }

    .wrapperImage {
        width: 50%;
        height: 100%;
    }

    .wrapperInfo {
        width: 50%;
    }

    .wrapper {
        width: 50%;
        overflow: auto;
    }


}