.container {
    margin: 78px 0 96px;
}

.cardapio {
    margin: 8px 0;
    /* box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1); */
}

.wrapperNav {
    display: flex;
    position: relative;
    margin: 16px 0;
    background-color: white;

    transition: all ease 0.2s ;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 10px rgb(0, 0, 0, 0.1);
    z-index: 2;
    margin: 0;
}

.block {
    display: block;
}

.wrapperWineNav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(133, 0, 73);
    /* width: 100%; */
    height: 50px;

    padding: 0 8px 0 0;
    
    animation: openWrapperWineNav 0.4s forwards;
}

.wineTitle {
    display: flex;
    align-items: center;
    
    color: white;

    font-weight: 600;
    font-size: 18px;

    gap: 8px;
}

.wineButton {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    
    background-color: rgb(133, 0, 73);
    color: white;

    border-radius: 16px 0;
    border: none;

    z-index: 2;

    cursor: pointer;
}

.wineButtonAbsolute {
    position: absolute;
    top: 0px;
    left: 0px;
}

.wineButton > img {
    height: 60%;
}

.settingAndClose {
    display: flex;
    gap: 16px;
}

.settingAndClose > * {
    font-size: 24px;
    color: white;

    cursor: pointer;
}

.navbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.navbar {
    display: flex;
    align-items: center;
    
    width: calc(100% - 50px);
    height: 48px;
    
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE/Edge */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */


    position: relative;
    left: 50px;

    overflow-x: scroll;

    list-style: none;
    
    border-top-left-radius: 16px;    
}

.navbar > li {
    height: 44px;
    align-items: center;
    align-content: center;
}

.navbar > li > a {
    display: block;
    
    height: 100%;
    width: max-content;

    position: relative;

    padding: 0 10px;

    align-content: center;

    color: rgb(151, 151, 151);
    font-weight: 600;

    cursor: pointer;
}

.navbar > li > .active {
    color: black;
    position: relative;
}

.navbarWine {
    display: flex;
    align-items: center;
    
    padding: 16px;
    
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE/Edge */
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */

    position: relative;

    overflow-x: scroll;

    list-style: none;
}


.wineSelected {
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}


.wineSelected.active {
    background-color: rgb(235, 235, 235);
}

.navbar > li > .active::before {
    position: absolute;
    bottom: -1px;
    left: 0;

    content: "";

    display: block;

    height: 2px;
    width: 100%;

    background-color: rgb(133, 0, 73);
    z-index: 1;
}

.wrapperNav > .lineTop {
    background-color: rgb(221, 221, 221);
    width: 98%;
    height: 2px;
    position: absolute;
    top: 0px;
    right: 0;
}

.wrapperNav > .lineBottom {
    background-color: rgb(221, 221, 221);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom: 0px;
}


.animateCloseWrapperWineNav {
    animation: closeWrapperWineNav 0.4s forwards;
}

@keyframes openWrapperWineNav {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes closeWrapperWineNav {
    from {
        width: 100%;
        background-color: rgb(133, 0, 73);
    }
    to {
        width: 0%;
        background-color: rgb(133, 0, 73);
    }
}



@media (min-width: 1020px) {
    .container {
        margin: 78px auto 96px;
        max-width: 1104px;
    }   

    .wrapperNav {
        max-width: 1104px;
        left: 50%;
        transform: translateX(-50%);
    }

    .fixed {
        box-shadow: 0px 2px 10px rgb(0, 0, 0, 0.1);
        z-index: 2;
        margin: 0;
    }

}